@page {
  margin: 0 0 0 0;
}

@media print {
  body {
    width: 8.25in;
    height: 11.75in;
    margin: 0 0 0 0;
  }
}
.day {
  background: #eee;
  color: black;
}
.night {
  background: #333;
  color: white;
}

@media (prefers-color-scheme: dark) {
  .day.dark-scheme {
    background: #333;
    color: white;
  }
  .night.dark-scheme {
    background: black;
    color: #ddd;
  }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme {
    background: white;
    color: #555;
  }
  .night.light-scheme {
    background: #eee;
    color: black;
  }
}

.day,
.night {
  display: inline-block;
  padding: 1em;
  width: 7em;
  height: 2em;
  vertical-align: middle;
}
body {
  margin: 0;
  padding: 0;
  /*background: url("../images/bg_dark_green.png");*/
  background-color: inherit;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #000;
}
a:link {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}
a:visited {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  color: #669933;
  font-weight: bold;
}
a:active {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}
#wrapper {
  width: 965px;
  margin: 0 auto;
}
#content {
  background-color: #eee;
  width: 960px;
  text-align: left;
  overflow: auto;
  position: relative;
  margin: 25px 0;
  border: #fff solid 2px;
}
.clear {
  float: none;
  clear: both;
  margin: 20px 0;
}
#contact-details .header_1 {
  float: left;
  width: 350px;
  text-align: center;
  margin: 40px 0 0 20px;
}
#contact-details .header_1 img {
  border: #fff solid 4px;
  /*background: url("../images/bg_img_dark_green.png");*/
  padding: 16px;
  margin: 10px 0 0;
}
#contact-details .header_2 {
  float: left;
  width: 570px;
  margin: 40px 0 0 10px;
}
#contact-details .header_2 a {
  font-weight: normal;
}
#contact-details h1 {
  margin: 0 0 0 20px;
  font-size: 52px;
  font-weight: bold;
}
#contact-details h3 {
  margin: 0 0 32px 20px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
#contact-details ul.info_1 {
  list-style: none;
  margin: 0 0 0 -12px;
  font-size: 18px;
}
#contact-details ul.info_2 {
  list-style: none;
  margin: 0 0 15px -12px;
  font-size: 18px;
}
#contact-details li.address {
  /*background: url("../images/home.png") no-repeat;*/
  background-position: 0 0;
  padding: 0 0 12px 40px;
}
#contact-details li.phone {
  /*background: url("../images/phone.png") no-repeat;*/
  background-position: 0 0;
  padding: 0 0 12px 40px;
}
#contact-details li.email {
  /*background: url("../images/mail.png") no-repeat;*/
  background-position: 0 0;
  padding: 0 0 12px 40px;
}
#contact-details li.site_url {
  background: url("../images/computer.png") no-repeat;
  background-position: 0 2px;
  padding: 0 0 12px 40px;
}
#contact-details li.twitter {
  /*background: url("../images/twitter_sm.png") no-repeat;*/
  background-position: 0 0;
  padding: 0 0 12px 40px;
}
h2.top {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}
h2 {
  margin: 40px 0 0;
  font-size: 22px;
  font-weight: bold;
}
dl {
  margin: 0 50px 0 0;
}
dt {
  float: left;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: right;
}
dd {
  width: 620px;
  float: right;
  margin-right: 20px;
}
dl#contact {
  margin: 0;
}
dt#contact {
  margin: 0;
}
dd#contact {
  margin: 0;
}
p.bus1 {
  margin: 0;
  font-weight: bold;
  color: #669933;
}
p.edu-info {
  margin: 10px 0 0;
  font-weight: bold;
  color: #669933;
}
p.edu-info a {
  color: #000;
}
p.edu-info a:hover {
  color: #669933;
}
p.time {
  margin: 0;
}
p.summary {
  margin: 10px 0 0;
}
#skills ul.list1 {
  float: left;
  list-style: none;
  margin: 0 0 0 -40px;
  width: 200px;
}
#skills ul.list2 {
  float: left;
  list-style: none;
  margin: 0;
  width: 200px;
}
#skills ul.list3 {
  float: left;
  list-style: none;
  margin: 0;
  width: 200px;
}
#skills li {
  /*background: url("../images/bullet_green.png") no-repeat;*/
  background-position: 0 2px;
  padding: 0 0 0 25px;
}
abbr {
  border-width: 0;
}
#footer {
  margin: 60px 40px 0;
}
#footer img {
  border: 0;
}
#footer .footer_content {
  width: 700px;
  overflow: auto;
  margin: auto;
  border: #fff solid 2px;
  background-color: #dcdcdc;
}
#footer ul.icons_1 {
  float: left;
  width: 525px;
  margin: 15px 10px 10px 15px;
  padding: 0;
}
#footer ul.icons_2 {
  float: right;
  width: 100px;
  margin: 10px 20px 10px 10px;
  padding: 0;
}
#footer .icons_1 li,
#footer .icons_2 li {
  margin: 0 0 0 7px;
  padding: 0;
  list-style-type: none;
  display: inline;
}
#footer a {
  color: #000;
}
#footer a:hover {
  color: #669933;
}
#footer .credits {
  float: none;
  clear: both;
  margin: 10px 0 20px;
  font-size: 12px;
  text-align: center;
}
#footer .credits a {
  font-weight: normal;
}
.button-link {
  background: transparent;
  border: none !important;
  /*font-size:0;*/
  color: white;
  padding: 20px 34px;
  text-align: right;
  float: right;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
